<div class="d-flex justify-content-center">
  <p-tabView>
    <p-tabPanel [cache]="isTabCaching" header="Авторизация">
      <ng-template pTemplate="content">
        <app-authorization></app-authorization>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Регистрация">
      <app-registration></app-registration>
    </p-tabPanel>
  </p-tabView>
</div>

<p-toast position="top-right"></p-toast>
