<div class="d-flex flex-column authorization-input-wrap m-column">

  <div>
    <span class="mx-3">{{loginText}}</span>
    <input type="text"
           pInputText
           [ngClass]="{'input-error': !login}"
           [(ngModel)]="login"/>
  </div>
  <div>
    <span class="mx-3">{{pswText}}</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error': !psw}"
           [(ngModel)]="psw"/>
  </div>

</div>

<div class="mt-5 d-flex justify-content-center">
  <button (click)="onAuth($event)" type="button" class="btn btn-success">{{authTextButton}}</button>
</div>
