<div>

  <div class="mb-3">
    <span>Поиск по экскурсиям: </span>
    <input #tourSearch [(ngModel)]="tourSearchValue" type="text" pInputText />
  </div>

  <div
    *ngIf="tours"
    class="d-flex flex-wrap justify-content-around tours">
    <div class ='tour-item col-3 m-2'
         *ngFor="let item of tours; let i = index">
      <div class="mt-1"><button class="btn btn-primary" *ngIf="isAdmin" (click)="deleteTour(item)">Удалить</button></div>
      <div (click)="goToTourInfoPage(item)">
        <div class="tour-title">{{item.name}}</div>
        <div class="tour-description">{{item.description}}</div>
        <div class="tour-type">{{(item.type==='single')?'Индивидуальная (до 3 человек)':'Совместная (группа до 15 человек)'}}</div>
        <div class="tour-img">
          <img class='w-100' src="http://localhost:3000/public/{{item.img}}">
        </div>
      </div>
    </div>
  </div>

</div>


