.tour-item{
  height: 400px;
  border: 1px solid #dad5d5;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

}
.tour-item:hover{
  border: 2px solid red;
}
.tour-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.tour-title {
  padding: 2px;
  font-weight: bold;
}
.tour-description{
  font-size: 0.8rem;
}
.tours {
  background-color: #E9F8F9
}
