<div class='mt-4' xmlns="http://www.w3.org/1999/html">

  <h4>Удаление всех экскурсий</h4>
  <div class="mt-3">
    <button  class="btn btn-warning"  (click)="deleteTours()"> Удалить все экскурсии </button>
  </div>

  <h4 class = 'mt-3'>Создание экскурсии</h4>
  <div class = 'mt-3 user-info' [formGroup] = 'tourForm'>
    <div class = 'mt-3'>
      <span class="mx-3"> Название экскурсии </span>
      <input type="text"
             class="mt-3"
             formControlName="name"
             pInputText
      />
    </div>
    <div class="mt-3">
      <span class="mx-3"> Описание экскурсии </span>
      <textarea type="text"
             class="mt-3 w-25"
             formControlName="description"
             pInputText
      ></textarea>
    </div>
    <div class="mt-3">
      <span class="mx-3"> Тип экскурсии </span>
      <p-dropdown class="mt-3"
                  [options]="tourTypes"
                  formControlName="type">
      </p-dropdown>
    </div>
    <div class="mt-3">
      <span class="mx-3"> Изображение </span>
      <input type="file"
             class="mt-3"
             (change)="selectFile($event)"
             formControlName="img"
             pInputText
      />
    </div>

    <div class="mt-4">
      <button class="btn btn-success" type="submit"
              (click)="createTour()"
              [disabled]="!tourForm.valid">
        Создать экскурсию
      </button>
    </div>

  </div>



</div>
