<div class="d-flex flex-column h-100">
  <header>
    <app-header>
    </app-header>
  </header>
  <div class="main-content">
    <app-aside *ngIf="isAsideOn"></app-aside>
    <div class="overflow-auto h-100 w-100 p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
