<div>
  <div class="d-flex flex-column data-input-wrap m-column">
    <div>
      <span class="mx-3">Имя</span>
      <input type="text"
             class="mt-3"
             pInputText
             [(ngModel)]="firstName"/>
    </div>
    <div>
      <span class="mx-3">Фамилия</span>
      <input type="text"
             class="mt-3"
             pInputText
             [(ngModel)]="lastName"/>
    </div>
    <div>
      <span class="mx-3">Телефон</span>
      <input type="text"
             class="mt-3"
             pInputText
             [(ngModel)]="phoneNumber"/>
    </div>
    <div>
      <span class="mx-3">Почта</span>
      <input type="text"
             class="mt-3"
             pInputText
             [(ngModel)]="email"/>
    </div>
    <div *ngIf="showCardNumber; else noSelected">
      <span class="mx-3">Номер карты</span>
      <input type="text"
             class="mt-3"
             pInputText
             [(ngModel)]="cardNumber"/>
    </div>

    <div class="mx-3 mt-5 d-flex">
      <button (click)="changeData($event)"
              type="button"
              class="btn btn-success">
        Сменить данные
      </button>
    </div>

  </div>

</div>

<ng-template #noSelected>
  <p>Карта не выбрана</p>
</ng-template>
