<!--<div class="d-flex flex-column col-6 registration-input-wrap m-column">-->
 <div class="d-flex flex-column registration-input-wrap m-column">
  <div>
    <span class="mx-3">Логин</span>
    <input type="text"
           pInputText
           [ngClass]="{'input-error': !login}"
           [(ngModel)]="login"/>
  </div>
  <div>
    <span class="mx-3">Пароль</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error': !psw}"
           [(ngModel)]="psw"/>
  </div>
  <div>
    <span class="mx-3">Подтверждение пароля</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error': !pswRepeat}"
           [(ngModel)]="pswRepeat"/>
  </div>
  <div>
   <span class="mx-3">Имя</span>
   <input type="text"
          class="mt-3"
          pInputText
          [(ngModel)]="firstName"/>
  </div>
  <div>
   <span class="mx-3">Фамилия</span>
   <input type="text"
          class="mt-3"
          pInputText
          [(ngModel)]="lastName"/>
  </div>
  <div>
   <span class="mx-3">Телефон</span>
   <input type="text"
          class="mt-3"
          pInputText
          [(ngModel)]="phoneNumber"/>
  </div>
  <div>
    <span class="mx-3">Почта</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="email"/>
  </div>
  <div *ngIf="showCardNumber; else noSelected">
    <span class="mx-3">Номер карты</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="cardNumber"/>
  </div>
</div>

<div class="mt-5 d-flex justify-content-center">
  <button [disabled]="!login || !psw || !pswRepeat"
          (click)="registration($event)"
          type="button"
          class="btn btn-success">
    Зарегистрироваться
  </button>
</div>

<ng-template #noSelected>
  <p>Карта не выбрана</p>
</ng-template>
