<div>
  <h5>Список заказов</h5>

  <ul class="list-group list-group-vertical">
    <li class="list-group-item" *ngFor="let order of orders">
      <span>{{order.firstName}}</span>
      <span class="m-lg-2">{{order.lastName}}</span>
      <span class="m-lg-2">{{order.phoneNumber}}</span>
      <span class="m-lg-2">{{order.email}}</span>
      <span class="m-lg-2">{{order.cardNumber}}</span>
      <span>{{order.tourName}}</span>
      <div class="mt-1"><button class="btn btn-primary" (click)="deleteOrder(order)">Удалить</button></div>
    </li>
  </ul>

</div>



