<div class="tour-info-wrap">
  <div>
    <a routerLink="/tours/tours-list">Назад</a>

    <div class="mt-4">
      <h3>Заказ экскурсии</h3>
      <div class="mt-3 ms-3">
        {{tour?.name}}
      </div>
      <div class="mt-3 ms-3">
        {{tour?.description}}
      </div>
      <div class="mt-3 ms-3">
        {{(tour?.type==='single')?'Индивидуальная (до 3 человек)':'Совместная (группа до 15 человек)'}}
      </div>
    </div>

    <div class="mt-4">
      <h3>Укажите свои данные</h3>
      <div class="mt-3 user-info d-flex flex-column data-input-wrap m-column" [formGroup]="userForm">

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Имя'}"></ng-container>
          <input type="text"
                 class="mt-3"
                 pInputText
                 formControlName="firstName"
          />
        </div>

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Фамилия'}"></ng-container>
          <input type="text"
                 class="mt-3"
                 pInputText
                 formControlName="lastName"
          />
        </div>

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'E-mail'}"></ng-container>
          <input type="text"
                 class="mt-3"
                 pInputText
                 formControlName="email"
          />
        </div>

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Телефон'}"></ng-container>
          <input type="text"
                 class="mt-3"
                 pInputText
                 formControlName="phoneNumber"
          />
        </div>

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Номер карты'}"></ng-container>
          <input type="text"
                 class="mt-3"
                 pInputText
                 formControlName="cardNumber"
          />
        </div>

        <div class="mt-4">
          <button pButton class="p-button-info" type="submit"
                  (click)="initTour()"
                  [disabled]="!userForm.valid||isSendingOrderDisabled">Отправить заказ</button>
        </div>
      </div>
    </div>

  </div>

</div>

<ng-template #userFieldTitle let-value="titleValue">
  <span class="mx-3">{{value}}</span>
</ng-template>

<p-toast position="top-right"></p-toast>
